
# Ignore Rust build and target directory at any depth
**/target/

# Ignore Rust log files
**/*.log

# Optionally, ignore other common file types that are usually not needed in builds
*.md
.DS_Store
.git
.gitignore
